* {
  box-sizing: border-box;
}
.container {
  display: flex;
}
.panel {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 80vh;
  border-radius: 50px;
  color: white;
  cursor: pointer;
  margin: 10px;
  flex: 0.5;
  margin-top: 60px;
  position: relative;
  transition: flex 0.7 ease-in;
}
.panel h2 {
  font-size: 25px;

  position: absolute;
  bottom: 40px;
  left: 25px;
  opacity: 0;
}
.panel h3 {
  bottom: 10px;
  left: 25px;
  position: absolute;
  opacity: 0;
}
.panel.active {
  flex: 5;
}
.panel.active h2 {
  opacity: 1;
}
.panel.active h3 {
  opacity: 1;
}
@media (max-width: 480px) {
  .container {
    width: 100vw;
  }
  .panel:nth-of-type(4),
  .panel:nth-of-type(4) {
    display: none;
  }
}
